.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
  }
  
  .formContainer {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .title {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .inputGroup {
    margin-bottom: 1rem;
  }
  
  .label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: #555;
  }
  
  .input {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .input:focus {
    border-color: #ea0505;
  }
  
  .button {
    padding: 0.8rem;
    font-size: 1rem;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #005bb5;
  }
  .passwordWrapper {
    position: relative;
  }
  
  .toggleButton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .toggleButton:hover {
    color: #1abc9c;
  }
